{% extends "web/base.html" %}

{% block title %}ToDo一覧{% endblock title %}

{% block content %}

    <h3>ToDo一覧</h3>
    <a href="{% url 'web:todo_create' %}">作成</a>
    <table border="1" rules="all">
        <thead>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>優先度</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todo_list %}
            <tr>
                <td><a href="{% url 'web:todo_detail' pk=todo.id %}">{{ todo.id }}</a></td>
                <td><a href="{% url 'web:todo_detail' pk=todo.id %}">{{ todo.title }}</a></td>
                <td><a href="{% url 'web:todo_detail' pk=todo.id %}">{{ todo.priority }}</a></td>
                <td>
                    <a href="{% url 'web:todo_update' pk=todo.id %}">変更</a>
                    <a href="{% url 'web:todo_delete' pk=todo.id %}">削除</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}